<!doctype html>
<html lang="ru">
<head>
  <title><%= title %></title>

  <meta charset="utf-8">
  <meta name="theme-color" content="#859e9f">

  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
  <meta name="HandheldFriendly" content="True">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">

  <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">

  <link rel="preload" href="/css/main.css" as="style">
  <link rel="preload" href="/fonts/medium/ubuntu-m.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/bold/ubuntu-b.woff2" as="font" type="font/woff2" crossorigin>

  <link rel="stylesheet" href="/css/main.css" media="none" onload="if(media!=='all')media='all'">
  <noscript><link rel="stylesheet" href="/css/main.css"></noscript>

  <script defer src="/js/main.js"></script>
</head>
<body>
<div id="app"></div>
</body>
</html>
